
/* ------------------RWD767.98px版本------------- */
/* -------關鍵字tagRWD----- */
@media (max-width: 767.98px) {
    .taggroup {
        height: 90px;
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        margin-top: 10px;

    }
    .qt_tag_style {
        width: 30%;
        margin: 3px;
        padding: 3px 0;
        border: 0;
        background-color: unset;
    }
}
/* -------排列順序RWD------ */
@media (max-width: 767.98px) {
    .arrow_button {
        font-size: 14px;
        letter-spacing: 1px;
    }
}
/* -------頁面切換按鈕RWD--- */

@media (max-width: 767.98px) {
    .page-button {
    width: 100px;
    } 
    .Qt_bn_t {
        width: 24px;
        height: 28px;
        font-size: 14px;
    }
    .Qt_bn_d {
        width: 24px;
        height: 28px;
        font-size: 14px;
    }
}
/* -------卡片RWD---------- */
@media (max-width: 767.98px) {
    .qt-l {
        width: 100%;
    }
    .ps-name {
        font-size: 14px;
    }
    .qt-title h5 {
        font-size: 14px;
        letter-spacing: 1px;
    }
    .qt-r {
        display: none;
    }
    .qt-skill {
        font-size: 8px;
    }
    .qt-see {
        font-size: 10px;
    }
    .qt-love {
        font-size: 10px;
    }
}
/* ----------------------------------------------- */




/* ------------------RWD992px版本------------- */
/* -------關鍵字tagRWD----- */
@media (max-width: 992px) {
    .taggroup {
        height: 90px;
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        margin-top: 10px;

    }
    .qt_tag_style {
        width: 30%;
        margin: 3px;
        padding: 3px 0;
        border: 0;
        background-color: unset;
    }
}
/* -------排列順序RWD------ */
@media (max-width: 992px) {
    .arrow_button {
        font-size: 14px;
        letter-spacing: 1px;
    }
}
/* -------頁面切換按鈕RWD--- */

@media (max-width: 992px) {
    .page-button {
    width: 100px;
    } 
    .Qt_bn_t {
        width: 24px;
        height: 28px;
        font-size: 14px;
    }
    .Qt_bn_d {
        width: 24px;
        height: 28px;
        font-size: 14px;
    }
}
/* -------卡片RWD---------- */
@media (max-width: 992px) {
    .qt-l {
        width: 100%;
    }
    .ps-name {
        font-size: 14px;
    }
    .qt-title h5 {
        font-size: 14px;
        letter-spacing: 1px;
    }
    .qt-r {
        display: none;
    }
    .qt-skill {
        font-size: 8px;
    }
    .qt-see {
        font-size: 10px;
    }
    .qt-love {
        font-size: 10px;
    }
}
/* ----------------------------------------------- */