@import "./default";
@import "./mixin";

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: auto;
    @include EllipseColor;
}

header{


    /* ---------------------------RWD導覽列---------------------------------------- */
    .navbar {
        width: 100%;
        height: 100px;
        // position: relative;
        @media (max-width: 1200px) {
            height: 80px;
        }
        @media (max-width: 1200px) {
            height: 90px;
        }
        
        
        .TWDFLogo{
            margin: 10px;
            position: absolute;
        }
        
        .NavBtns{
            font-weight: bolder;
            position: absolute;
            right: 0;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;

            .NavBtn{
                color: rgb(206, 233, 231);
                text-decoration: unset;
                margin-right: 50px;
                display: flex;
                align-items: center;
                position: relative;
                @media (max-width: 1200px) {
                    margin-right: 20px;
                }
                
                .NavIMG{
                    width: 42px;
                    height: 47px;
                    margin-right: 12px;
                    @media (max-width: 1200px) {
                        width: 21px;
                        height: 23.5px;
                        margin-right: 6px;
                    }
                }
                .NavText{
                    p{
                        font-size: smaller;
                        font-weight: lighter;
                        margin-bottom: unset;
                        @media (max-width: 1200px) {
                            font-size: xx-small;
                        }

                    }
                    .NavTextCh{
                        margin-bottom: 4.6px;
                        @media (max-width: 1200px) {
                            margin-bottom: 0;
                        }
                    }
                }

                &::before{
                    display: block;
                    content: " ";
                    width: 0%;
                    height: 12px;
                    position: absolute;
                    z-index: 1;
                    top: 59px;
                    left: 50%;
                    transition: width .5s ease, background-color .5s ease, left .5s ease;
                }

                &:hover::before{
                    width: 100%;
                    background: radial-gradient(ellipse,rgb(204 , 58, 0),rgb(45, 13, 0));
                    left: 0;
                }

                &:first-child{
                    animation-name: MyWOW;
                    visibility: visible;
                    animation-duration: 3s;
                    animation-delay: 1s;
                    animation-iteration-count: infinite;

                    @keyframes MyWOW{
                        0% {
                            transform: scaleX(1);
                        }
                        75% {
                            transform: scaleX(1);
                        }
                        82.5%{
                            transform: scale3d(1.25,.75,1);
                        }
                        85%{
                            transform: scale3d(.75,1.25,1);
                        }
                        87.5%{
                            transform: scale3d(1.15,.85,1);
                        }
                        91.25%{
                            transform: scale3d(.95,1.05,1);
                        }
                        93.75%{
                            transform: scale3d(1.05,.95,1);
                        }
                        100%{
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }

        .LogIn{
            color: white;
            font-size: 24px;
            width: 128px;
            height: 64px;
            padding: 6px 10px ;
            text-align: center;
            line-height: 64px;
            align-items: center;
            cursor: pointer;
            display: flex;
            text-decoration: unset;
            margin-right: 38px;

            &:hover{
                color: yellow;
                transition: .2s;
                transform: scale(1.2);
                border-radius: 15px;
            }
            &:active{
                background: radial-gradient(circle,rgb(102 , 29, 0),rgb(0, 0, 0));
            }

            p{
                margin-bottom: unset;
                margin-left: 6px;
            }

            @media (max-width: 1200px) {
                font-size: 12px;
                width: 84px;
                height: 32px;
                line-height: 32px;
            }
        }
    }

    /* -------------------------RWD手機導覽列-------------------------------------- */
    .navbar-light{
        @include EllipseColor;
        position: relative;
        color: white;

        .navbar-toggler{
            position: absolute;
            right: 5%;
            margin-right: 10px;
        }

        .navbar-collapse{
            .navbar-nav{
                display: flex;

                .nav-item{
                    width: 260px;

                    .nav-link{
                        display: flex;

                        .NavIMG{
                            margin-right: 10px;
                        }
                        .NavText{
                            display: flex;
                            flex-wrap: nowrap;
                            justify-content: center;
                        }
                    }
                }
                .nav-login-link{
                    display: flex;
                    .NavText{
                        color: white; 
                        p{
                            font-size: 9px;
                        }
                    }
                }
            }
        }
    }


}
/* ------------------------------主要內容區塊----------------------------------- */


/* ------------------------------頁角-------------------------------------- */
footer{

    /* ------------------------------RWD頁角-------------------------------------- */
    .FooterFrame{
        .FooterRow {
            width: 100%;
            height: 300px;
            color: white;
            font-size: 18px;
           
    
            .FooterRowL{
                margin-top: 97px;
                padding-left: 75px;
                @media (max-width: 768px) {
                    margin-top: 97px;
                    padding-left: 0;
                    padding-right: 0;
                }

                img{
                    width: 66px;
                    margin-left: 30px;
                    margin-bottom: 10px;
                    @media (max-width: 767.98px) {
                        margin-left: 0px;
                    }
                }
                .FooterTWDF-Title{
                    margin-bottom: 9px;
                    p{
                        @include OratorStdSlanted;
                    }
                }
            }
            .FooterRowM{
                margin-top: 122px;
                padding-left: 68px;
                @media (max-width: 767.98px) {
                    margin-top: 0;
                    padding-left: 0;
                    padding-right: 0;
                }

            }
            .FooterRowR{
                
                padding-left: 105px;
                margin-top: 122px;

            }
        }
        .CopyrightRow{
            color: white;
            margin-top: 107px;
            margin-bottom: 55px;
        }
    }

}

/* ------------------------------Sign In-------------------------------------- */

.modal{
    .modal-dialog{
        .modal-content{
            .modal-header{
                border-bottom: 0;
                padding: 1rem 0rem 0rem 1rem;
                color: white;
                background-color: rgba(0, 0, 0, 0.781);
                .close{
                    color: red;
                    padding: 1rem 2rem;
                    margin: -1rem -1rem -1rem auto;
                    :hover{
                        color: yellow;
                    }
                }
            }
            .modal-body{
                background-color: rgba(0, 0, 0, 0.781);
                .XX_signin_box{
                    width: 100%;
                    padding-bottom: 10px;
                    height: auto;
                    margin: auto;
                    .XX_account{
                        font-size: 18px;
                        padding-top: 10px;
                        margin-left: 10px;
                        color: white;
                        display: flex;
                        align-items: center;
                        input {
                            width: 85%;
                            margin-left: 10px;
                            border-radius: 10px;
                        }
                    }
                    .XX_password{
                        font-size: 18px;
                        margin-left: 10px;
                        padding-top: 10px;
                        margin-top: 30px;
            
                        color: white;
            
                        display: flex;
                        align-items: center;
                        input {
                            width: 85%;
                            margin-left: 10px;
                            border-radius: 10px;
                        }
                    }
                    .XX_but_bar{
                        display: flex;
                        justify-content: space-around;
                        margin-top: 30px;
                        margin-bottom: 30px;
                        .XX_bar_remember{
                            color: white;
                            :hover{
                                color: blue;
                            }
                        }
                        .XX_bar_forget{
                            color: white;
                            :hover{
                                color: blue;
                            }
                        }
                        .XX_bar_noaccount{
                            color: white;
                            :hover{
                                color: blue;
                            }
                        }
                        .XX_bar_new{
                            color: white;
                            :hover{
                                color: blue;
                            }
                        }
                    }
                    .XX_sign_in{
                        width: 90%;
                        height: 36px;
                        letter-spacing: 2px;
                        background-color: blueviolet;
                        border-radius: 20px;
                        margin: auto;
                        margin-top: 30px;
                        margin-bottom: 30px;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .style_hr_t{
                        width: 90%;
                        margin: auto;
                        margin: 20px;
                        background-color: white;
                    }
                    .XX_other_title{
                        text-align: center;
                        color: white;
                        letter-spacing: 3px;
                    }
                    .XX_other_sign_bar{
                        width: 100%;
                        height: 70px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .XX_sign_fb{
                            width: 60px;
                            height: 60px;
                            background-color: blue;
                            border-radius: 50%;
                        }
                        .XX_sign_google{
                            width: 60px;
                            height: 60px;
                            margin: 0px 30px;
                            background-color: rgb(255, 153, 0);
                            border-radius: 50%;
                        }
                        .XX_sign_apple{
                            width: 60px;
                            height: 60px;
                            background-color: rgb(255, 0, 0);
                            border-radius: 50%;
                        }
                    }
                    .style_hr_d{
                        width: 90%;
                        margin: auto;
                        margin-top: 20px;
                        background-color: white;
                    }
                }
            }
            .modal-footer{
                border-top: 0;
                padding: 0rem 0rem 1rem 1rem;
                color: white;
                background-color: rgba(0, 0, 0, 0.781);
                .XX_precautions{
                    width: 90%;
                    color: rgb(255, 209, 209);
                    margin: auto;
                    .XX_precautions_title{
                        text-align: center;
                        color: rgb(255, 29, 29);
                        letter-spacing: 3px;
                    }
                }
            }
        }
    }
}

/* --------------------------注意事項------------------------------------ */
/* 高度只是暫定可以自行更動 */
/* 區塊背景顏色方便辨識 */
/* 側邊盒子區塊 (content-r-box) 挑整高度,可以改變盒子內間距 */
