body {
    font-family: 'Roboto', sans-serif;
    ;
}

a {
    color: none;
}

/* ------------------- */
.Task_page {
    background-color: rgb(201, 198, 194);

}

.tk_pag_title {
    text-align: center;
    margin-top: 20px;
    letter-spacing: 10px;
}

/* ---------左邊欄位---------- */
.content-l {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: -webkit-radial-gradient(circle, #002f55, #001027);
    background: -o-radial-gradient(circle, #002f55, #001027);
    background: -moz-radial-gradient(circle, #002f55, #001027);
    background: radial-gradient(circle, #002f55, #001027);
}

.bg_effect {
    width: 100%;
    height: 95vh;
    position: relative;
    position: sticky;
    top: 5%
}

.listbox {
    width: 100%;
    height: 600px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.listbox_photo {
    width: 80%;
    height: 10%;
    margin: auto;
    background-image: url(/Twdf1/01-Home/02-Forum/素材/01-論壇區-零件.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.all_theme {
    font-size: 24px;
    font-weight: bolder;
    letter-spacing: 5px;
    text-align: center;
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px double white;
    margin-left: 20px;
    color: white;
}

.projectbox {
    color: white;
    width: 100%;
    height: 50px;
    margin: auto;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
}

.projectbox:hover {
    text-decoration: none;
}

/* ---------中間欄位---------- */
/* ------搜尋區塊------- */
.Searchbox {
    width: 100%;
    padding-top: 10px;
}

.Searchbox input:focus {
    outline: unset;
}


/* 關鍵字 */
 /* 關鍵字 */
 .taggroup {
    padding: 10px 10px;
}

.taggroup button {
    color: brown;
}

.taggroup button:hover {
    color: rgb(42, 85, 165);
    text-decoration: none;
}

.tag_title {
    height: 40px;
    background-color: chartreuse;
}

.tk_banner {
    width: 100%;
    margin: 20px 0;
}





/* ------排列順序----- */
.Paginationbox {
    width: 100%;
    height: 60px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.arrow_button {
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 5px;
    width: 130px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    border: 0px;
    background-color: unset;
    outline: none;
}

.arrow_button:hover {
    color: brown;
}

.arrow_button:focus {
    outline: none;
}

/* ------分頁按鈕----- */
.page-button {
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}


.Qt_bn_t {
    width: 34.6px;
    height: 38px;
    margin: 10px 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: snow;

}

.Qt_bn_t:hover {
    background-color: black;
    color: white;
    transition: 1s;
}

.Qt_bn_d {
    width: 34.6px;
    height: 38px;
    margin: 10px 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: snow;

}

.Qt_bn_d:hover {
    background-color: black;
    color: white;
    transition: 1s;
}


/* ------問題卡片樣式----- */
.Qt_pag_g {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: none;
}

.questioncarA {
    width: 100%;
    height: auto;
    border: 4px double black;
    background-color: rgb(245, 255, 255);
    box-shadow: 4px 4px 3px rgba(20%, 20%, 40%, 0.5);
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

.qt-l {
    width: 70%;
    /* height: 80%; */
    /* background-color: #FFFFFF; */
    position: relative;

}

.qt-r {
    width: 30%;
    height: 300px;
    /* margin-right: 10PX; */
    /* background-color: rgb(0, 65, 126); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.qt-car-photo {
    width: 150px;
    /* height: 170px; */
    margin-left: auto;
    /* margin: auto; */
    background-color: thistle;
    border: 2px solid black;
}

.qt-car-photo img {
    width: 100%;
    max-height: 230px;
}



.qt-personal {
    width: 100%;
    display: flex;
    align-items: center;
}

.qt-bar {
    display: flex;
    align-items: center;
    margin: 10px 0;
    position: relative;
    left: 0%;
    bottom: 0%;
}

.ps-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    margin-top: 10px;
    margin-left: 10px;
}

.ps-name {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.qt-time {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qt-see {
    display: inline;
    margin-left: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qt-love {
    display: inline;
    margin-left: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qt-category {
    width: 50px;
    height: 25px;
    margin-right: 10px;
    color: rgb(2, 0, 37);
    /* background-color: rgba(0, 0, 0, 0.301); */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: auto;
}


.qt-title {
    width: 95%;
    margin: 10px;
    display: flex;
    align-items: center;

    /* background-color: tomato; */
}

.qt-title h5 {
    width: 90%;
    margin: auto;
    font-weight: bolder;
}

.qt-skill-G {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.qt-skill {
    background-color: rgba(0, 19, 128, 0.384);
    color: white;
    display: inline;
    margin: 4px 10px;
    padding: 0 10px;
    font-size: 18px;
    box-shadow: 2px 2px 1px rgba(20%, 20%, 40%, 0.5);
}

/* ------------分頁點擊顯示--------------- */

.Qt_active {
    display: block;
}

.Qt_bn_t.Qt_active {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(214, 30, 30); */
}

.Qt_bn_d.Qt_active {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(214, 30, 30); */
}


/* --------收藏按鈕---------- */
.qt-buttombar {
    width: 100%;
    /* height: 50px; */
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10PX;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.qt-favorites {
    width: 40%;
    height: 30px;
    border-radius: 5px;
    margin-left: auto;
    color: rgb(2, 0, 37);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.takeit {
    width: 40%;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(255, 73, 73);
    display: flex;
    justify-content: space-around;
    align-items: center;
}




/* -------------右邊欄位-------------- */

.content-r {
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
    /* height: 600px; */
    /* background-color: rgb(2, 0, 37); */
    /* padding-top: 10px; */
    /* position: fixed;
    display: flex; */
    /* position: sticky;
    top: 5%; */
    /* align-content: center; */
}

.ad_task {
    width: 100%;
    height: 60px;
    letter-spacing: 6px;
    margin: auto;
    font-size: 18px;
    text-align: center;
    line-height: 60px;
    color: white;
    background: -webkit-radial-gradient(circle, #1AB4B0, #083E62);
    background: -o-radial-gradient(circle, #1AB4B0, #083E62);
    background: -moz-radial-gradient(circle, #1AB4B0, #083E62);
    background: radial-gradient(circle, #1AB4B0, #083E62);
}

/* ------前五名問題------- */

.top_five_problem {
    width: 100%;
    height: 400px;
    margin: 10px auto;
    background-color: #F2F2F2;
    box-shadow: 4px 4px 3px rgba(20%, 20%, 40%, 0.5);

}

.tf_p_photo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tf_p_title {
    display: flex;
    justify-content: center;
    align-content: center;
}

.tf_promblem_G {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    /* background-color: crimson; */
}
.tf_promblem_G a{
    color: unset;
    text-decoration: none;
    

}
.tf_promblem_G a:hover{
    color: rgb(73, 76, 255);

}

.tf_promblem {
    width: 100%;
    margin-top: 10px;
    display: flex;
}


/* ------前五名答題者------- */



.top_five_who {
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 10px;
    background-color: #F2F2F2;
    box-shadow: 4px 4px 3px rgba(20%, 20%, 40%, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.top_who_photo {
    width: 40%;
    height: 50px;
    margin-top: 10px;
    background-image: url(/Twdf1/01-Home/02-Forum/素材/02-論壇區-皇冠.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.top_who_title {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-weight: bolder;
}

.top_who_title h5 {
    font-weight: bolder;
    letter-spacing: 5px;
    margin: 0;
}

.top_who_man_G {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.top_man {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.top_man_photo{
    width: 30px;
    height: 30px;
}
.top_man_photo img{
    height: 100%;
}
/* --------廣告------------- */

.advertising_1 {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    background-color: rgb(0, 46, 21);

}
.advertising_1 img{
    width: 100%;
}

.advertising_2 {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    background-color: rgb(0, 46, 21);
}
.advertising_2 img{
    width: 100%;
}
.advertising_3 {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    background-color: rgb(0, 46, 21);
}
.advertising_3 img{
    width: 100%;
}








/* ------設定背景--------- */

.style_hr {
    border: 3px solid black;
}

.style_cursor {
    cursor: unset;
}

.style_img {
    width: 100%;
}





/* ---------四個角樣式------- */

.style_border_tl {
    width: 10%;
    height: 20%;
    border-top: 1px solid black;
    border-left: 1px solid black;
    /* background-color: black; */
    position: absolute;
    top: 0;
    left: 0;
}

.style_border_tr {
    width: 10%;
    height: 20%;
    border-top: 1px solid black;
    border-right: 1px solid black;
    /* background-color: black; */

    position: absolute;
    top: 0;
    right: 0;
}

.style_border_bl {
    width: 10%;
    height: 20%;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    /* background-color: black; */

    position: absolute;
    bottom: 0;
    left: 0;
}

.style_border_br {
    width: 10%;
    height: 20%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    /* background-color: black; */
    position: absolute;
    bottom: 0;
    right: 0;
}


/* -----------問題卡片收藏--------- */


/* --------背景顏色------- */

.bg-1 {
    background-color: black;
}

.bg-2 {
    background-color: blue;
}

.bg-3 {
    background-color: red;
}

.bg-4 {
    background-color: yellow;
}

.bg-5 {
    background-color: green;
}

.bg-6 {
    background-color: rgb(201, 198, 194);
}

/* ----------獎牌顏色--------- */
.clr_1 {
    color: rgb(255, 198, 92);
}

.clr_2 {
    color: rgb(255, 129, 129);
}
.clr_3 {
    color: rgb(128, 128, 255);
}
/* ----- 網路套件----------- */
/* ------網路--背景動畫---- */
.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    /*氣泡預設大小*/
    background: rgba(255, 255, 255, 0.158);
    /*給氣泡20%的透明度*/
    animation: animate 10s linear infinite;
    animation-direction: alternate-reverse;
    /* animate = 動畫名稱 */
    /* 25s = 動畫時間25秒 */
    /* linear = 動畫開始至結束速度一致 */
    /* infinite = 動畫無限次播放 */
    bottom: 0px;
    opacity: 0;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 1s;
    animation-duration: 5s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 10px;
    height: 10px;
    animation-delay: 3s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
    animation-duration: 6s;
    /* background-color: brown; */
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 30px;
    height: 30px;
    animation-delay: 4s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 30px;
    height: 30px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 8s;
    animation-duration: 4s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 7s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 25px;
    height: 25px;
    animation-delay: 0s;
    animation-duration: 6s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        /* translateY = Y軸位置 */
        /* rotate = 旋轉角度 */
        opacity: 1;
        /* 透明度的參數可設定0.0(透明) ~ 1.0  (不透明) */
        border-radius: 0;
        /* 圓角 */
    }

    100% {
        transform: translateY(-95vh) rotate(720deg);
        /* 氣泡由下往上移動至-1000px，旋轉720度 */
        opacity: 0;
        border-radius: 50%;
        /* 產生圓角 */
    }
}



/* -----網路hover套件------- */
/* Rectangle Out */
.hvr-rectangle-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    /* background: #e1e1e1; */
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-rectangle-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-radial-gradient(circle, #1AB4B0, #083E62);
    background: -o-radial-gradient(circle, #1AB4B0, #083E62);
    background: -moz-radial-gradient(circle, #1AB4B0, #083E62);
    background: radial-gradient(circle, #1AB4B0, #083E62);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-rectangle-out:hover,
.hvr-rectangle-out:focus,
.hvr-rectangle-out:active {
    color: rgb(63, 0, 0);
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 3px;
}

.hvr-rectangle-out:hover:before,
.hvr-rectangle-out:focus:before,
.hvr-rectangle-out:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}


/* Rectangle In */
.hvr-rectangle-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-rectangle-in:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-radial-gradient(circle, #002f55, #001027);
    background: -o-radial-gradient(circle, #002f55, #001027);
    background: -moz-radial-gradient(circle, #002f55, #001027);
    background: radial-gradient(circle, #002f55, #001027);
    
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-rectangle-in:hover,
.hvr-rectangle-in:focus,
.hvr-rectangle-in:active {
    color: rgb(63, 0, 0);
    font-weight: bolder;
    font-size: 24px;
    letter-spacing: 4px;
}

.hvr-rectangle-in:hover:before,
.hvr-rectangle-in:focus:before,
.hvr-rectangle-in:active:before {
    -webkit-transform: scale(0);
    transform: scale(0);
    
}


/* -------RWD------ */
/* -------RWD767.98px版本------------- */
/* -------關鍵字tagRWD----- */
@media (max-width: 767.98px) {
    .taggroup {
        font-size: 16px;
        height: auto;
        padding: 5px 10px;
    }
    
    .style_btn {
        display: inline;
        margin: unset;
        padding: unset;
        padding-left: 2px;
    }
}
/* -------排列順序RWD------ */
@media (max-width: 767.98px) {
    .arrow_button {
        font-size: 14px;
        letter-spacing: 1px;
    }
}
/* -------頁面切換按鈕RWD--- */

@media (max-width: 767.98px) {
    .page-button {
    width: 100px;
    } 
    .Qt_bn_t {
        width: 24px;
        height: 28px;
        font-size: 14px;
    }
    .Qt_bn_d {
        width: 24px;
        height: 28px;
        font-size: 14px;
    }
}
/* -------卡片RWD---------- */
@media (max-width: 767.98px) {
    .qt-l {
        width: 100%;
    }
    .ps-name {
        font-size: 14px;
    }
    .qt-title h5 {
        font-size: 14px;
        letter-spacing: 1px;
    }
    .qt-r {
        display: none;
    }
    .qt-skill {
        font-size: 8px;
    }
    .qt-see {
        font-size: 10px;
    }
    .qt-love {
        font-size: 10px;
    }
}
/* ----------------------------------------------- */


/* -------RWD992px版本------------- */
/* -------關鍵字tagRWD----- */
@media (max-width: 992px) {
    .taggroup {
        font-size: 16px;
        height: auto;
        padding: 5px 10px;
    }
    
    .style_btn {
        display: inline;
        margin: unset;
        padding: unset;
        padding-left: 2px;
    }
}
/* -------排列順序RWD------ */
@media (max-width: 992px) {
    .arrow_button {
        font-size: 14px;
        letter-spacing: 1px;
    }
}
/* -------頁面切換按鈕RWD--- */

@media (max-width: 992px) {
    .page-button {
    width: 100px;
    } 
    .Qt_bn_t {
        width: 24px;
        height: 28px;
        font-size: 14px;
    }
    .Qt_bn_d {
        width: 24px;
        height: 28px;
        font-size: 14px;
    }
}
/* -------卡片RWD---------- */
@media (max-width: 992px) {
    .qt-l {
        width: 100%;
    }
    .ps-name {
        font-size: 14px;
    }
    .qt-title h5 {
        font-size: 14px;
        letter-spacing: 1px;
    }
    .qt-r {
        display: none;
    }
    .qt-skill {
        font-size: 8px;
    }
    .qt-see {
        font-size: 10px;
    }
    .qt-love {
        font-size: 10px;
    }
}
/* ----------------------------------------------- */